@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";
@config "../tailwind.config.js";


@layer base {
  body {
    @apply font-sans antialiased text-slate-800 bg-slate-50;
  }
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }

  .glass {
    @apply bg-white/70 backdrop-blur-lg border border-white/20 shadow-xl;
  }
}